<!doctype html><html><head>
  <meta charset=utf8>
  <title>orbitrap</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.4.0/exceljs.min.js"
    integrity="sha512-dlPw+ytv/6JyepmelABrgeYgHI0O+frEwgfnPdXDTOIZz+eDgfW07QXG02/O8COfivBdGNINy+Vex+lYmJ5rxw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <style>
    @keyframes animacio{
      from{
        background-color: orange;
      }
      to{
        background-color: yellow;
      }
    }
    div[treballant]{
      animation-name: animacio;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
    [number]{
      text-align:right;
      font-family:monospace;
    }
    [ms]{
      font-family:monospace;
    }
  </style>
</head><body>

<div>
  <b>TODO (pàgina en construcció)</b>
  <ul>
    <li>[ok] incorporar càlcul recovery</li>
    <li>incorporar info standards</li>
  </ul>
</div><hr>

<B>PROCESSAR ARXIUS ORBITRAP</B>

<div id=app>
  <!--boto carregar excel-->
  <div v-if="!treballant && sheets_processats==0">
    <p>
      Peak Label <input v-model="peak_label" style="field-sizing:content">
    </p>
    <input type=file @change="load_excel($event)">
  </div>

  <div v-if="error" style="background:red">
    {{error}}
  </div>

  <div v-if="treballant" treballant>
    <div>&#9203; treballant...</div>
  </div>

  <div v-if="sheets_processats">
    Sheets processed: {{sheets_processats}}
    &mdash;
    Peak Label = {{peak_label}}
  </div><hr>

  <div v-if="sheets">
    <!--checkboxes calcurve, mm, etc-->
    <div>
      <span v-for="fn in get_filenames" class=filename>
        <label>
          <input
            type=checkbox
            :checked="filenames_seleccionats.has(fn)"
            @change="filenames_seleccionats[!filenames_seleccionats.has(fn)?'add':'delete'](fn)"
          > {{fn}}
        </label>
      </span>
    </div><hr>

    <!--checkbox filtres regressio-->
    <div>
      <label>
        <input type=checkbox v-model="veure_nomes_sheets_amb_regressio">
        Veure només compostos amb regressió lineal MM ben calculada
      </label><br>
      <label>
        r<sup>2</sup> llindar
        <input type=number :disabled="veure_nomes_sheets_amb_regressio==false" v-model="r_squared_threshold">
      </label>
    </div><hr>

    <div style="margin-top:5px">
      <b>Resultats ({{get_sheets_filtrats.length}}/{{sheets.length}})</b>
    </div>

    <table border=1>
      <tbody v-for="sheet in get_sheets_filtrats">
        <tr>
          <td ms>{{sheet.nom}}</td>

          <td style="vertical-align:top">
            <table
              border=1
              style="
                font-size:smaller;
                border-collapse:collapse;
              "
            >
              <tr>
                <td>filename</td>
                <td>area</td>
                <td>ppb calculat</td>
                <td>
                  ppb calculat<br>
                  <small>(aplicant recovery)</small>
                </td>
              </tr>
              <tbody v-for="row in sheet.rows">
                <tr v-for="ppb_calc in [quantifica_area(sheet,row.area)]">
                  <td ms>{{row.filename}}</td>
                  <td number>{{row.area}}</td>
                  <td number>
                    {{ppb_calc}}
                  </td>
                  <td
                    v-if="families_where_recovery_is_applied.includes(row.family)"
                    number
                  >
                    <div v-for="rec in [sheet.recovery]">
                      <div v-if="rec">
                        {{ppb_calc*rec/100}}
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>

          <!--taules regressio i recovery-->
          <td style="vertical-align:top">
            <div v-for="tipus_regressio in ['CC','MM']">
              <div v-if="sheet.regressio[tipus_regressio]">
                <table border=1
                  style="
                    font-size:smaller;
                    border-collapse:collapse;
                    margin-bottom:5px;
                  "
                >
                  <tr>
                    <th colspan=2>
                      <small>
                        Regressió {{tipus_regressio}} (ppb = m·area + n)
                      </small>
                    </th>
                  </tr>
                  <tr>
                    <th>m</th>
                    <td number>{{sheet.regressio[tipus_regressio].m}}</td>
                  </tr>
                  <tr>
                    <th>n</th>
                    <td number>{{sheet.regressio[tipus_regressio].n}}</td>
                  </tr>
                  <tr>
                    <th>r<sup>2</sup></th>
                    <td number>{{sheet.regressio[tipus_regressio].r_squared}}</td>
                  </tr>
                  <tr>
                    <td>punts</td>
                    <td number>{{sheet.regressio[tipus_regressio].N}}</td>
                  </tr>
                </table>
              </div>
            </div>

            <table border=1
              v-if="sheet.recovery"
              style="
                font-size:smaller;
                border-collapse:collapse;
              "
            >
              <tr>
                <th>
                  <small>Recovery (%)</small>
                </th>
                <td>{{sheet.recovery}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  function linear_regression(points){
    //points: [{x,y},{x,y},...{x,y}]
    let N = points.length; //number of points
    if(N<3){ throw new Error("N<3 points"); }

    //arrays of points
    let xi    = points.map(p=>p.x); //array x
    let yi    = points.map(p=>p.y); //array y
    let xi_sq = xi.map(x=>x*x);     //array x squared
    let yi_sq = yi.map(y=>y*y);     //array y squared
    let xiyi  = points.map(p=>{     //array x·y
      return p.x*p.y;
    });

    //sums of arrays
    let xi_sum    = xi.reduce((p,c)=>p+c,0);    //sum of x array
    let yi_sum    = yi.reduce((p,c)=>p+c,0);    //sum of y array
    let xi_sq_sum = xi_sq.reduce((p,c)=>p+c,0); //sum of x squared array
    let yi_sq_sum = yi_sq.reduce((p,c)=>p+c,0); //sum of y squared array
    let xiyi_sum  = xiyi.reduce((p,c)=>p+c,0);  //sum of x·y array

    //compute m (slope) and n (intercept) as (y = mx + n)
    let m = (N*(xiyi_sum) - yi_sum*xi_sum)/(N*xi_sq_sum - xi_sum*xi_sum);
    let n = (yi_sum - m*xi_sum)/N;

    //compute r squared
    let r_squared = Math.pow(N*xiyi_sum - xi_sum*yi_sum, 2)/((N*xi_sq_sum - Math.pow(xi_sum,2))*(N*yi_sq_sum - Math.pow(yi_sum,2)));

    //end
    return {m, n, r_squared, N};
  }
</script>

<script>
  let app = Vue.createApp({
    data(){return{
      //filtrar per les files amb el valor "T1" a la columna "Peak Label"
      peak_label:"T1",

      treballant:false,
      err:"", //missatge error
      wb:null, //objecte workbook que ha sigut carregat
      sheets_processats:0, //number
      sheets:null, //array de sheets processats
      filenames_seleccionats: new Set(["MM"]),

      //regressio
      veure_nomes_sheets_amb_regressio:true,
      r_squared_threshold:0.9,

      //regressio lineal: diccionari pels valors x
      //MM (matrix match) i CC (calibration curve)
      equiv_MM_o_CC:{
        //MM
        "MM_Blank_AIF":             0,
        "MM_1ppb_IS_100ppb_AIF":    1,
        "MM_5ppb_IS_100ppb_AIF":    5,
        "MM_10ppb_IS_100ppb_AIF":  10,
        "MM_50ppb_IS_100ppb_AIF":  50,
        "MM_100ppb_IS_100ppb_AIF":100,
        "MM_150ppb_IS_100ppb_AIF":150,
        "MM_200ppb_IS_100ppb_AIF":200,
        "MM_250ppb_IS_100ppb_AIF":250,

        //CC
        "CalCurve_1ppb_IS_100ppb_AIF":          1,
        "CalCurve_1ppb_IS_100ppb_AIF_02":       1,
        "CalCurve_5ppb_IS_100ppb_AIF":          5,
        "CalCurve_10ppb_IS_100ppb_AIF":        10,
        "CalCurve_10ppb_IS_100ppb_AIF_005_def":10,
        "CalCurve_50ppb_IS_100ppb_AIF":        50,
        "CalCurve_100ppb_IS_100ppb_AIF":      100,
        "CalCurve_150ppb_IS_100ppb_AIF":      150,
        "CalCurve_200ppb_IS_100ppb_AIF":      200,
      },

      families_where_recovery_is_applied:[
        "Eff",
        "Sand",
        "Chlorination",
      ],
    }},

    methods:{
      async load_excel(event){
        this.treballant=true;
        this.error="";
        let file = event.target.files[0];
        let wb = new ExcelJS.Workbook();
        this.wb=wb;
        try{
          await wb.xlsx.load(file);
          this.sheets = wb.worksheets.map(sheet=>{
            return this.processa_sheet(sheet);
          });

          //per cada compost, calcula 2 rectes de regressió:
          //una per MM i l'altra per CalCurve
          this.sheets.forEach(sheet=>{
            //regressio CC
            let CC = this.calcula_regressio(sheet,"CalCurve"); //objecte o null
            //regressio MM
            let MM = this.calcula_regressio(sheet,"MM"); //objecte o null

            //guarda els resultats
            sheet.regressio={CC,MM};
          });

          //per cada compost, calcula el recovery (a,b,c)
          this.sheets.forEach(sheet=>{
            sheet.recovery = this.calcula_recovery(sheet);
          });

          this.treballant=false;
        }catch(err){
          this.error=err;
          this.treballant=false;
        }
      },

      processa_sheet(sheet){
        /*
          per cada sheet necessitem:
            - nom compost
            - array filename
            - array area
            - array peak label (i filtrar per valor=="T1")
        */

        let nom = sheet.name;
        try{
          nom = sheet.columns[0].values[2];
        }catch(err){}

        //busca index columna "Filename"
        let index_col_filename = sheet.columns.find(c=>c.values[1]=="Filename")._number;

        //busca index columna "Area"
        let index_col_area = sheet.columns.find(c=>c.values[1]=="Area")._number;

        //busca index columna "Peak Label"
        let index_col_peak_label = sheet.columns.find(c=>c.values[1]=="Peak Label")._number;

        //filtra per "Peak Label"=="T1"
        //i retorna [filename, area, peak_label]
        let rows = sheet._rows.filter(r=>{
          return (
            r.values[index_col_peak_label] == this.peak_label
          );
        }).map(r=>{
          let filename   = r.values[index_col_filename];
          let area       = r.values[index_col_area];
          let peak_label = r.values[index_col_peak_label];
          let family     = filename.split("_")[0];
          return {family,filename,area,peak_label};
        });

        this.sheets_processats++;

        return {nom,rows};
      },

      //adapta les dades per poder cridar "linear_regression()"
      calcula_regressio(sheet, family){
        family = family || "MM"; //"MM" || "CalCurve"

        let rows = sheet.rows.filter(r=>r.family==family);
        let punts = rows.map(r=>{
          let x = r.area;
          let y = this.equiv_MM_o_CC[r.filename];
          return {x,y};
        }).filter(p=>p.x!="N/F");

        //result: {m,n,r2}
        let result;
        try{
          result = linear_regression(punts);
        }catch(err){
          result = null;
        }

        return result;
      },

      calcula_recovery(sheet){
        //mitjana dels recoveries
        let recovery=[];//init empty array

        let rows = sheet.rows.filter(r=>r.family=="Recovery");

        rows.forEach(row=>{
          let area = row.area; //number | string ("N/F")

          if(area=="N/F") return;

          let ppb = this.quantifica_area(sheet,area); //number or NaN

          if(ppb===false) return;

          //TODO
          //if(ppb<=60 || ppb>=120) return;

          recovery.push(ppb);
        });

        let N = recovery.length;

        if(N==0) return false;

        return recovery.reduce((p,c)=>p+c,0)/N;
      },

      //calcula PPB a partir d'àrea fent servir les regressions lineals
      //        PPB = m·area + n
      quantifica_area(sheet, area){
        //sheet:object
        //area:number

        let CC = sheet.regressio.CC;
        let MM = sheet.regressio.MM;

        //tria quina de les dues regressions es farà servir: CC ò MM
        let reg = null;

        if(CC && MM){
          if(CC.r_squared > MM.r_squared){
            reg = CC;
          }else{
            reg = MM;
          }
        }else if(!CC && MM){
          reg = MM;
        }else if(!MM && CC){
          reg = CC;
        }else{
          reg = false;
        }

        if(!reg) return false;

        //aplica formula recta (y=mx+n)
        return reg.m*area + reg.n;
      },

      //TODO
      descarregar_fitxer_final(){
        let wb = new ExcelJS.Workbook();
        let sh = wb.addWorksheet('Merged');
        this.fitxer_final.forEach(row=>{
          sh.addRow(row);
        });

        //export workbook to xlsx file
        const fileType='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';
        wb.xlsx.writeBuffer().
          then(buffer=>saveAs(new Blob([buffer],{type:fileType}),'fitxer_final.xlsx'))
          .catch(err=>console.log('Error writing excel file',err));
      },
    },

    computed:{
      //obtenir els diferents camps dins de l'excel
      get_filenames(){
        if(!this.sheets) return [];

        let set = new Set();
        this.sheets.forEach(s=>{
          s.rows.forEach(r=>{
            set.add(r.family);
          });
        });

        return Array.from(set);
      },

      get_sheets_filtrats(){
        let sheets = this.sheets.map(s=>{
          let nom  = s.nom;
          let rows = s.rows.filter(r=>{
            return this.filenames_seleccionats.has(r.family);
          });
          let regressio = s.regressio;
          let recovery  = s.recovery;
          return {nom,rows,regressio,recovery};
        });

        if(this.veure_nomes_sheets_amb_regressio){
          sheets = sheets.filter(s=>
            (
              (s.regressio.MM && s.regressio.MM.r_squared>=this.r_squared_threshold)
              ||
              (s.regressio.CC && s.regressio.CC.r_squared>=this.r_squared_threshold)
            )
          );
        }

        return sheets;
      },
    },
  }).mount("#app");
</script>
