<!doctype html><html><head>
  <meta charset=utf8>
  <title>orbitrap</title>

  <!--llibreries TODO-->
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.4.0/exceljs.min.js"
    integrity="sha512-dlPw+ytv/6JyepmelABrgeYgHI0O+frEwgfnPdXDTOIZz+eDgfW07QXG02/O8COfivBdGNINy+Vex+lYmJ5rxw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>

  <style>
    @keyframes animacio{
      from{
        background-color: orange;
      }
      to{
        background-color: yellow;
      }
    }
    div[treballant]{
      animation-name: animacio;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
    hr{
      border:none;
      border-top:1px solid #ccc;
    }
    [center]{
      text-align:center;
    }
    [left]{
      text-align:left;
    }
    [number]{
      text-align:right;
      font-family:monospace;
    }
    [monospace]{
      font-family:monospace;
    }
    [yellow=true]{
      background:gold;
    }
    label:hover{
      background:gold;
    }
    [hover_underline]:hover{
      text-decoration:underline;
      cursor:pointer;
      color:blue;
    }
    input[type=number]{
      text-align:right;
    }
    table.subtaula{
      font-size:smaller;
      border-collapse:collapse;
      border-color:#ddd;
    }
    [millor_regresio=true]{
      background:#af0;
    }
    [valigntop]{
      vertical-align:top;
    }
  </style>
</head><body>

<nav>
  <a href="xlsx" target="_blank">[dev] xlsx files</a>
</nav><hr>

<div>
  <b>PROCESSAR ARXIUS ORBITRAP</b>
</div><hr>

<div id=app>
  <!--boto carregar excel-->
  <div v-if="!treballant && sheets_processats==0">
    <p>
      Valor columna "Peak Label":
      <input v-model="peak_label">
    </p>
    <input type=file @change="load_excel($event)">
  </div>

  <div v-if="error" style="background:red">
    {{error}}
  </div>

  <div v-if="treballant" treballant>
    <div>&#9203; treballant...</div>
  </div>

  <div v-if="sheets_processats">
    <ul>
      <li>Peak Label = {{peak_label}}</li>
      <li>Número total de compostos: {{sheets_processats}}</li>
    </ul>
  </div><hr>

  <div v-if="sheets">

    <div
      style="
        display:flex;
        gap:5px;
      "
    >
      <!--menú per activar/desactivar filenames-->
      <table border=1>
        <tr>
          <th colspan=2 left>Filenames visibles</th>
        </tr>
        <tr v-for="set,i in [noms_families_fixes, get_noms_mostres]">
          <td>
            {{
              [
                "Cal·libració",
                "Mostres",
              ][i]
            }}
          </td>
          <td>
            <span v-for="fn in Array.from(set)">
              <label>
                <input
                  type=checkbox
                  :checked="filenames_seleccionats.has(fn)"
                  @change="filenames_seleccionats[!filenames_seleccionats.has(fn)?'add':'delete'](fn)"
                > {{fn}}
              </label>
            </span>
          </td>
        </tr>
      </table>

      <!--menú per activar/desactivar blancs-->
      <table border=1>
        <tr>
          <th colspan=2 left>Restar blank a:</th>
        </tr>
        <tr>
          <td>MM ("MM_Blank_AIF")</td>
          <td>
            <label><input type=radio v-model="restar_blancs.MM" :value="true"> sí</label>
            <label><input type=radio v-model="restar_blancs.MM" :value="false"> no</label>
          </td>
        </tr>
        <tr>
          <td>Recovery (?)</td>
          <td>
            <label><input type=radio v-model="restar_blancs.recovery" :value="true"> sí</label>
            <label><input type=radio v-model="restar_blancs.recovery" :value="false"> no</label>
          </td>
        </tr>
        <tr>
          <td>Mostres ("Blank_HPLC_AIF")</td>
          <td>
            <label><input type=radio v-model="restar_blancs.mostres" :value="true"> sí</label>
            <label><input type=radio v-model="restar_blancs.mostres" :value="false"> no</label>
          </td>
        </tr>
      </table>

      <table border=1>
        <tr>
          <th left>Regressió utilitzada</th>
        </tr>
        <tr>
          <td>
            <label><input type=radio v-model=regressió_utilitzada value="CC">CalCurve</label><br>
            <label><input type=radio v-model=regressió_utilitzada value="MM">MM</label><br>
            <label><input type=radio v-model=regressió_utilitzada value="best">Best r<sup>2</sup> between CalCurve and MM</label>
          </td>
        </tr>
      </table>
    </div><hr>

    <!--filtres-->
    <div
      style="
        display:grid;
        grid-template-columns:repeat(3,1fr);
        grid-gap:5px;
      "
    >
      <!--filtre_nom_compost-->
      <div>
        <label>
          Filtrar per nom compost<br>
          <input v-model="filtre_nom_compost"
            style="
              field-sizing: content;
              min-width:150px;
              padding:1px 5px;
            "
            :yellow="filtre_nom_compost!=''"
            placeholder="nom compost"
          >
          <button @click="filtre_nom_compost=''" :disabled="filtre_nom_compost==''">X</button>
        </label><br>
      </div>

      <!--checkbox filtres regressio-->
      <div>
        <label>
          <input type=checkbox v-model="veure_nomes_sheets_amb_regressio">
          Filtrar per r<sup>2</sup> regressió
        </label><br>
        <label>
          r<sup>2</sup> llindar
          <input type=number :disabled="veure_nomes_sheets_amb_regressio==false" v-model="r_squared_threshold"
            min=0 max=9 step=0.01
          >
        </label>
      </div>

      <!--limits recovery-->
      <div>
        <table border=1 style="border-collapse:collapse">
          <tr>
            <td rowspan=3 center>
              <label>
                <input type=checkbox v-model="recovery_thresholds">
                Filtrar per Recovery
              </label>
            </td>
          </tr>
          <tr>
            <td>low</td>
            <td>
              <label>
                <input type=number v-model="recovery_threshold_lo" :disabled="!recovery_thresholds" placeholder="Recovery threshold low" min=0 max=999>%
              </label>
            </td>
          </tr>
          <tr>
            <td>high</td>
            <td>
              <label>
                <input type=number v-model="recovery_threshold_hi" :disabled="!recovery_thresholds" placeholder="Recovery threshold high" min=0 max=999>%
              </label>
            </td>
          </tr>
        </table>
      </div>
    </div><hr>

    <div style="margin-top:5px">
      <b>Resultats ({{get_sheets_filtrats.length}}/{{sheets.length}})</b>
    </div>

    <table border=1 style="border-collapse:collapse">
      <tbody v-for="sheet in get_sheets_filtrats">
        <tr>
          <td monospace
            valigntop
          >
            <span hover_underline @click="filtre_nom_compost=sheet.nom">{{sheet.nom}}</span>
          </td>

          <td valigntop>

            <!--taula calibracio-->
            <table border=1 class=subtaula v-if="cal_mostrar_taula_calibracio">
              <tr><th left colspan=5>Cal·libració</th></tr>
              <tr>
                <td>filename</td>
                <td>area</td>
                <td>area (blanked)</td>
                <td>ppb teòric</td>
                <td>ppb calculat</td>
              </tr>
              <tbody v-for="row in sheet.rows">
                <tr
                  v-if="filenames_seleccionats.has(row.family) && noms_families_fixes.has(row.family)"
                  v-for="area_blanked in [calcula_area_minus_blank(sheet, row.family, row.area)]"
                >
                  <td monospace>
                    {{row.filename}}
                  </td>
                  <td number>
                    {{row.area}}
                  </td>
                  <td number>
                    <div v-if="row.area!=area_blanked">
                      {{area_blanked}}
                    </div>
                  </td>
                  <td number>
                    <div v-for="ppb_teoric in [parseInt(row.filename.split('_')[1])]">
                      <div v-if="ppb_teoric">
                        {{ppb_teoric}}
                      </div>
                      <div v-else>0</div>
                    </div>
                  </td>
                  <td number>
                    {{quantifica_area(sheet, area_blanked)}}
                  </td>
                </tr>
              </tbody>
            </table>

            <!--taula mostres-->
            <table border=1 class=subtaula v-if="cal_mostrar_taula_mostres"
              style="margin-top:2px"
            >
              <tr><th colspan=5 left>Mostres</th></tr>
              <tr>
                <td>filename</td>
                <td>area</td>
                <td>area (blanked)</td>
                <td>ppb calculat</td>
                <td>
                  ppb calculat<br>
                  <small>(+recovery)</small>
                </td>
              </tr>
              <tbody v-for="row in sheet.rows">
                <tr
                  v-if="filenames_seleccionats.has(row.family) && get_noms_mostres.has(row.family)"
                  v-for="area_blanked in [calcula_area_minus_blank(sheet, row.family, row.area)]"
                >
                  <td monospace>
                    {{row.filename}}
                  </td>
                  <td number>
                    {{row.area}}
                  </td>
                  <td number>
                    <div v-if="row.area!=area_blanked">
                      {{area_blanked}}
                    </div>
                  </td>
                  <td number>
                    {{quantifica_area(sheet, area_blanked)}}
                  </td>
                  <td number >
                    <div v-for="rec in [sheet.recovery]">
                      <div v-if="rec">
                        {{quantifica_area(sheet, area_blanked)*rec/100}}
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>

          <!--taules regressio i recovery-->
          <td valigntop>
            <div v-for="tipus_regressio in ['CC','MM']">
              <div v-if="sheet.regressio[tipus_regressio]">
                <table border=1 class=subtaula
                  v-if="regressió_utilitzada=='best' || regressió_utilitzada==tipus_regressio"
                  style="margin-bottom:2px"
                >
                  <tr>
                    <th colspan=2
                      :millor_regresio="calcula_millor_regressio(sheet)==tipus_regressio"
                    >
                      <small>
                        Regressió {{tipus_regressio}} (ppb = m·area + n)
                      </small>
                    </th>
                  </tr>
                  <tr>
                    <th>m</th>
                    <td number>{{sheet.regressio[tipus_regressio].m}}</td>
                  </tr>
                  <tr>
                    <th>n</th>
                    <td number>{{sheet.regressio[tipus_regressio].n}}</td>
                  </tr>
                  <tr>
                    <th>r<sup>2</sup></th>
                    <td number>{{sheet.regressio[tipus_regressio].r_squared}}</td>
                  </tr>
                  <tr>
                    <td>punts</td>
                    <td number>{{sheet.regressio[tipus_regressio].N}}</td>
                  </tr>
                </table>
              </div>
            </div>

            <table border=1
              class=subtaula
              v-if="sheet.recovery"
            >
              <tr>
                <th>
                  <small>Recovery (%)</small>
                </th>
                <td>{{sheet.recovery}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  //mòdul per regressió lineal
  function linear_regression(points){
    //points: [{x,y},{x,y},...{x,y}]
    let N = points.length; //number of points
    if(N<3){ throw new Error("N<3 points"); }

    //arrays of points
    let xi    = points.map(p=>p.x); //array x
    let yi    = points.map(p=>p.y); //array y
    let xi_sq = xi.map(x=>x*x);     //array x squared
    let yi_sq = yi.map(y=>y*y);     //array y squared
    let xiyi  = points.map(p=>{     //array x·y
      return p.x*p.y;
    });

    //sums of arrays
    let xi_sum    = xi.reduce((p,c)=>p+c,0);    //sum of x array
    let yi_sum    = yi.reduce((p,c)=>p+c,0);    //sum of y array
    let xi_sq_sum = xi_sq.reduce((p,c)=>p+c,0); //sum of x squared array
    let yi_sq_sum = yi_sq.reduce((p,c)=>p+c,0); //sum of y squared array
    let xiyi_sum  = xiyi.reduce((p,c)=>p+c,0);  //sum of x·y array

    //compute m (slope) and n (intercept) as (y = mx + n)
    let m = (N*(xiyi_sum) - yi_sum*xi_sum)/(N*xi_sq_sum - xi_sum*xi_sum);
    let n = (yi_sum - m*xi_sum)/N;

    //compute r squared
    let r_squared = Math.pow(N*xiyi_sum - xi_sum*yi_sum, 2)/((N*xi_sq_sum - Math.pow(xi_sum,2))*(N*yi_sq_sum - Math.pow(yi_sum,2)));

    //end
    return {m, n, r_squared, N};
  }
</script>

<script>
  let app = Vue.createApp({
    data(){return{
      //valor "T1" a la columna "Peak Label" per filtrar al carregar l'excel
      peak_label:"T1",

      treballant:false,
      err:"", //missatge error
      wb:null, //objecte workbook que ha sigut carregat

      //main array
      sheets:null, //array sheets processats
      sheets_processats:0, //number

      //filenames que es veuen a les taules
      filenames_seleccionats: new Set(["CalCurve","MM"]),

      //regressio
      veure_nomes_sheets_amb_regressio:true,
      r_squared_threshold:0.9,

      //recovery thresholds
      recovery_thresholds:true,
      recovery_threshold_lo:60,
      recovery_threshold_hi:120,

      //filtre nom compost
      filtre_nom_compost:"",

      //filenames que NO són mostres
      //aquests noms surten a tots els excels, són fixos
      noms_families_fixes:new Set([
        "CalCurve", //"calibration curve"
        "MM",       //"matrix match"
        "Blank",    //blancs mostres
        "Recovery", //recovery
        "QC",       //quality control
      ]),

      //restar blancs
      restar_blancs:{
        MM       : false,
        mostres  : false,
        recovery : false,
      },

      //forçar regressió utilitzada
      regressió_utilitzada:"best",
    }},

    methods:{
      async load_excel(event){
        this.treballant = true;
        this.error = "";
        let file = event.target.files[0];
        let wb = new ExcelJS.Workbook();
        this.wb = wb;
        try{
          await wb.xlsx.load(file);
          this.sheets = wb.worksheets.map(sheet=>{
            return this.processa_sheet(sheet);
          });
          this.treballant=false;
        }catch(err){
          this.error=err;
          this.treballant=false;
        }
      },

      processa_sheet(sheet){
        //sheet: objecte
        /*
          per cada sheet necessitem:
            - nom compost
            - array filename
            - array area
            - array peak label (i filtrar per valor=="T1")
        */

        let nom = sheet.name;
        try{
          nom = sheet.columns[0].values[2];
        }catch(err){}

        //busca index columna "Filename"
        let index_col_filename = sheet.columns.find(c=>c.values[1]=="Filename")._number;

        //busca index columna "Area"
        let index_col_area = sheet.columns.find(c=>c.values[1]=="Area")._number;

        //busca index columna "Peak Label"
        let index_col_peak_label = sheet.columns.find(c=>c.values[1]=="Peak Label")._number;

        //blank per família (area=number)
        let blanks={}; //{"family"=>area}

        //filtra per "Peak Label"=="T1"
        //i retorna [filename, area, peak_label]
        let rows = sheet._rows.filter(r=>{
          return (
            r.values[index_col_peak_label] == this.peak_label
          );
        }).map(r=>{
          let filename   = r.values[index_col_filename];
          let area       = r.values[index_col_area];
          let peak_label = r.values[index_col_peak_label];
          let family     = filename.split("_")[0];

          //comprova si aquesta area correspon a un blank
          if(filename=="MM_Blank_AIF"){
            if(area!="N/F"){
              blanks[family] = area;
            }
          }
          if(filename=="Blank_HPLC_AIF"){
            if(area!="N/F"){
              blanks.mostres = area;
            }
          }

          return {family,filename,area,peak_label};
        });

        this.sheets_processats++;

        return {
          nom, rows, blanks,
          regressio:null,
          recovery:null,
        };
      },

      //adapta les dades per poder cridar "linear_regression()"
      calcula_regressio(sheet, family){
        family = family || "MM"; //"MM" || "CalCurve"

        let rows = sheet.rows.filter(r=>r.family==family);

        let punts = rows.map(r=>{
          let x = r.area;

          if(family=="MM"){
            x = this.calcula_area_minus_blank(sheet,family,r.area);
          }

          let y = parseInt(r.filename.split("_")[1]);
          if(isNaN(y)){y=0}

          return {x,y};
        }).filter(p=>p.x!="N/F");

        //result: {m,n,r2}
        let result;
        try{
          result = linear_regression(punts);
        }catch(err){
          result = null;
        }

        return result;
      },

      calcula_recovery(sheet){
        //mitjana dels recoveries
        let recovery=[];//init empty array

        let rows = sheet.rows.filter(r=>r.family=="Recovery");

        rows.forEach(row=>{
          let area = row.area; //number | string ("N/F")

          if(area=="N/F") return;

          let ppb = this.quantifica_area(sheet,area); //number or NaN

          if(ppb===false) return;

          recovery.push(ppb);
        });

        let N = recovery.length;

        if(N==0) return false;

        return recovery.reduce((p,c)=>p+c,0)/N;
      },

      //calcula PPB a partir d'àrea, fent servir regressions lineals (CC i MM)
      //        PPB = m·area + n
      quantifica_area(sheet, area){
        //sheet:object
        //area:number

        let CC = sheet.regressio.CC;
        let MM = sheet.regressio.MM;

        //tria quina de les dues regressions es farà servir: CC ò MM
        let reg = null; //regressio triada (objecte)

        if(this.regressió_utilitzada=="best"){
          if(CC && MM){
            if(CC.r_squared > MM.r_squared){
              reg = CC;
            }else{
              reg = MM;
            }
          }else if(!CC && MM){
            reg = MM;
          }else if(!MM && CC){
            reg = CC;
          }else{
            reg = false;
          }
        }
        if(this.regressió_utilitzada=="CC"){
          reg = CC;
        }
        if(this.regressió_utilitzada=="MM"){
          reg = MM;
        }

        if(!reg) return false;

        //aplica formula recta (y=mx+n)
        let y = reg.m*area + reg.n;
        if(y<0) y=0;
        return y;
      },

      calcula_area_minus_blank(sheet, family, area){
        //sheet:  object
        //family: string
        //area:   number
        if(area=="N/F") return "N/F";

        let blank = 0;

        //MM
        if(family=="MM"){
          if(this.restar_blancs.MM){
            let bl = sheet.blanks.MM;
            if(bl) blank=bl;
          }
          return area-blank;
        }

        //Recovery
        if(family=="Recovery"){
          if(this.restar_blancs.recovery){
            let bl = sheet.blanks.Recovery;
            if(bl) blank=bl;
          }
          return area-blank;
        }

        if(this.get_noms_mostres.has(family)){
          if(this.restar_blancs.mostres){
            let bl = sheet.blanks.mostres;
            if(bl) blank=bl;
          }
          return area-blank;
        }

        return area;
      },

      //TODO
      descarregar_fitxer_final(){
        let wb = new ExcelJS.Workbook();
        let sh = wb.addWorksheet('Merged');
        this.fitxer_final.forEach(row=>{
          sh.addRow(row);
        });

        //export workbook to xlsx file
        const fileType='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';
        wb.xlsx.writeBuffer().
          then(buffer=>saveAs(new Blob([buffer],{type:fileType}),'fitxer_final.xlsx'))
          .catch(err=>console.log('Error writing excel file',err));
      },

      //calcula si és millor MM o CC
      calcula_millor_regressio(sheet){
        let millor = false; //return value

        let CC = sheet.regressio.CC;
        let MM = sheet.regressio.MM;

        if(CC && MM){
          if(CC.r_squared > MM.r_squared){
            millor="CC";
          }else{
            millor="MM";
          }
        }else if(!CC && MM){
          millor="MM";
        }else if(!MM && CC){
          millor="CC";
        }

        return millor;
      },
    },

    computed:{
      //obtenir tots els diferents camps dins de l'excel
      //inclou camps fixes (CalCurve,MM...) i camps variables (mostres)
      get_filenames(){
        if(!this.sheets) return [];

        let set = new Set(); //return value

        //itera sheets processats
        this.sheets.forEach(s=>{
          s.rows.forEach(r=>{
            set.add(r.family);
          });
        });

        return Array.from(set);
      },

      get_noms_mostres(){
        let filenames = new Set(this.get_filenames);
        //treu els noms fixes del set
        Array.from(this.noms_families_fixes).forEach(nom=>{
          filenames.delete(nom);
        });
        return filenames;
      },

      //filtra sheets
      get_sheets_filtrats(){
        let sheets = this.sheets.map(s=>{
          let nom    = s.nom;
          let rows   = s.rows;
          let blanks = s.blanks;
          return {
            nom, rows, blanks,
            regressio:null,
            recovery:null,
          };
        });

        //filtra per nom
        if(this.filtre_nom_compost){
          let filtre_nom_compost_uppercase = this.filtre_nom_compost.toUpperCase();
          sheets = sheets.filter(s=>
            s.nom.toUpperCase().includes(filtre_nom_compost_uppercase)
          );
        }

        //calcula rectes de regressió
        //una per MM i l'altra per CalCurve
        //fer-ho aquí perquè el valor de "restar_blancs" pot haver canviat
        sheets.forEach(sheet=>{
          //regressio CC
          let CC = this.calcula_regressio(sheet,"CalCurve"); //objecte o null
          //regressio MM
          let MM = this.calcula_regressio(sheet,"MM"); //objecte o null

          //guarda resultats
          sheet.regressio={CC,MM};
        });

        //filtra per r2
        if(this.veure_nomes_sheets_amb_regressio){
          sheets = sheets.filter(s=>
            (
              (s.regressio.MM && s.regressio.MM.r_squared>=this.r_squared_threshold) ||
              (s.regressio.CC && s.regressio.CC.r_squared>=this.r_squared_threshold)
            )
          );
        }

        //per cada compost, calcula el recovery (a,b,c)
        sheets.forEach(sheet=>{
          sheet.recovery = this.calcula_recovery(sheet);
        });

        //filtra per recovery thresholds
        if(this.recovery_thresholds){
          sheets = sheets.filter(s=>
            s.recovery!==false &&
            (s.recovery >= this.recovery_threshold_lo) &&
            (s.recovery <= this.recovery_threshold_hi)
          );
        }

        return sheets;
      },

      cal_mostrar_taula_calibracio(){
        return Array.from(this.filenames_seleccionats).some(fn=>this.noms_families_fixes.has(fn));
      },
      cal_mostrar_taula_mostres(){
        return Array.from(this.filenames_seleccionats).some(fn=>this.get_noms_mostres.has(fn));
      },
    },
  }).mount("#app");
</script>
